<div id="<%= dom_id note %>" class="w-full sm:w-auto my-5 rounded-2xl border-4 border-black bg-white p-6 shadow-lg space-y-4">
  <div>
    <strong class="block font-['Montserrat'] font-semibold text-black mb-1">Judge:</strong>
    <p class="text-gray-700"><%= note.judge_id %></p>
  </div>
  <div>
    <strong class="block font-['Montserrat'] font-semibold text-black mb-1">Participant:</strong>
    <p class="text-gray-700"><%= note.participant_id %></p>
  </div>
  <div>
    <strong class="block font-['Montserrat'] font-semibold text-black mb-1">Competition:</strong>
    <p class="text-gray-700"><%= note.competition_id %></p>
  </div>
  <div>
    <strong class="block font-['Montserrat'] font-semibold text-black mb-1">Score:</strong>
    <p class="text-2xl font-['Montserrat'] font-bold text-[#FFCC00]"><%= note.score %></p>
  </div>
  <div>
    <strong class="block font-['Montserrat'] font-semibold text-black mb-1">Comment:</strong>
    <p class="text-gray-700"><%= note.comment %></p>
  </div>
</div>
