<div id="<%= dom_id note %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Judge:</strong>
    <%= note.judge_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Participant:</strong>
    <%= note.participant_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Competition:</strong>
    <%= note.competition_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Score:</strong>
    <%= note.score %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= note.comment %>
  </div>
</div>
