<div id="<%= dom_id ranking %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Participant:</strong>
    <%= ranking.participant_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Competition:</strong>
    <%= ranking.competition_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total score:</strong>
    <%= ranking.total_score %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Position:</strong>
    <%= ranking.position %>
  </div>
</div>
